
<!DOCTYPE HTML>
<html>
	<head>
		<title>LOOK</title>
		<meta charset="utf-8" />
	</head>
	<body>
	    <!-- Main -->
		<div id="main">
			<div class="inner">
<p>---
</p><p>title: AuthenticationEntryPoint和AccessDeniedHandler
</p><p>date: 2021-04-15 00:00:00 +0800
</p><p>categories: [Spring, Spring Security]
</p><p>tags: [Spring, Spring Security]
</p><p>---
</p><h2> 基本流程</h2><p>Spring Security的ExceptionTranslationFilter会在doFilter中catch相关异常，然后通过某些判断选择是交给AuthenticationEntryPoint处理还是AccessDeniedHandler处理
</p><h2> AuthenticationEntryPoint</h2><pre><code>// 1. 认证失败，会调用AuthenticationEntryPoint#commence()
// 2. 访问资源，但是用户是匿名的，或者没有充分授权，会调用AuthenticationEntryPoint#commence()
public interface AuthenticationEntryPoint {
	// ~ Methods
	// ========================================================================================================

	/**
	 * Commences an authentication scheme.
	 * <p>
	 * <code>ExceptionTranslationFilter</code> will populate the <code>HttpSession</code>
	 * attribute named
	 * <code>AbstractAuthenticationProcessingFilter.SPRING_SECURITY_SAVED_REQUEST_KEY</code>
	 * with the requested target URL before calling this method.
	 * <p>
	 * Implementations should modify the headers on the <code>ServletResponse</code> as
	 * necessary to commence the authentication process.
	 *
	 * @param request that resulted in an <code>AuthenticationException</code>
	 * @param response so that the user agent can begin authentication
	 * @param authException that caused the invocation
	 *
	 */
	void commence(HttpServletRequest request, HttpServletResponse response,
			AuthenticationException authException) throws IOException, ServletException;
}
</code></pre><h2> AccessDeniedHandler</h2><pre><code>// 用户认证成功，但是没有权限访问该资源
public interface AccessDeniedHandler {
	// ~ Methods
	// ========================================================================================================

	/**
	 * Handles an access denied failure.
	 *
	 * @param request that resulted in an <code>AccessDeniedException</code>
	 * @param response so that the user agent can be advised of the failure
	 * @param accessDeniedException that caused the invocation
	 *
	 * @throws IOException in the event of an IOException
	 * @throws ServletException in the event of a ServletException
	 */
	void handle(HttpServletRequest request, HttpServletResponse response,
			AccessDeniedException accessDeniedException) throws IOException,
			ServletException;
}
</code></pre>
			</div>
		</div>
	</body>
</html>
